a:focus,
input:focus {
  outline: 0;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.no-position {
  position: initial;
}
.inline-block {
  display: inline-block;
}
.uppercase {
  text-transform: uppercase;
}
.lowecase {
  text-transform: lowecase;
}
.left {
  text-align: left !important;
}
.center {
  text-align: center !important;
}
.right {
  text-align: right !important;
}
.no-margin {
  margin: 0 !important;
}
@media (min-width: 480px) {
  .no-margin-xs {
    margin: 0 !important;
  }
}
@media (min-width: 768px) {
  .no-margin-sm {
    margin: 0 !important;
  }
}
@media (min-width: 992px) {
  .no-margin-md {
    margin: 0 !important;
  }
}
@media (min-width: 1200px) {
  .no-margin-lg {
    margin: 0 !important;
  }
}
.no-margin-top {
  margin-top: 0 !important;
}
@media (min-width: 480px) {
  .no-margin-top-xs {
    margin-top: 0 !important;
  }
}
@media (min-width: 768px) {
  .no-margin-top-sm {
    margin-top: 0 !important;
  }
}
@media (min-width: 992px) {
  .no-margin-top-md {
    margin-top: 0 !important;
  }
}
@media (min-width: 1200px) {
  .no-margin-top-lg {
    margin-top: 0 !important;
  }
}
.xxs-margin-top {
  margin-top: 0px !important;
}
@media (min-width: 768px) {
  .xxs-margin-top {
    margin-top: 5px !important;
  }
}
.xs-margin-top {
  margin-top: 5px !important;
}
@media (min-width: 768px) {
  .xs-margin-top {
    margin-top: 10px !important;
  }
}
.s-margin-top {
  margin-top: 10px !important;
}
@media (min-width: 768px) {
  .s-margin-top {
    margin-top: 15px !important;
  }
}
.m-margin-top {
  margin-top: 15px !important;
}
@media (min-width: 768px) {
  .m-margin-top {
    margin-top: 20px !important;
  }
}
.l-margin-top {
  margin-top: 20px !important;
}
@media (min-width: 768px) {
  .l-margin-top {
    margin-top: 25px !important;
  }
}
.xl-margin-top {
  margin-top: 25px !important;
}
@media (min-width: 768px) {
  .xl-margin-top {
    margin-top: 30px !important;
  }
}
.xxl-margin-top {
  margin-top: 30px !important;
}
@media (min-width: 768px) {
  .xxl-margin-top {
    margin-top: 35px !important;
  }
}
.no-margin-left {
  margin-left: 0 !important;
}
@media (min-width: 480px) {
  .no-margin-left-xs {
    margin-left: 0 !important;
  }
}
@media (min-width: 768px) {
  .no-margin-left-sm {
    margin-left: 0 !important;
  }
}
@media (min-width: 992px) {
  .no-margin-left-md {
    margin-left: 0 !important;
  }
}
@media (min-width: 1200px) {
  .no-margin-left-lg {
    margin-left: 0 !important;
  }
}
.xxs-margin-left {
  margin-left: 0px !important;
}
@media (min-width: 768px) {
  .xxs-margin-left {
    margin-left: 5px !important;
  }
}
.xs-margin-left {
  margin-left: 5px !important;
}
@media (min-width: 768px) {
  .xs-margin-left {
    margin-left: 10px !important;
  }
}
.s-margin-left {
  margin-left: 10px !important;
}
@media (min-width: 768px) {
  .s-margin-left {
    margin-left: 15px !important;
  }
}
.m-margin-left {
  margin-left: 15px !important;
}
@media (min-width: 768px) {
  .m-margin-left {
    margin-left: 20px !important;
  }
}
.l-margin-left {
  margin-left: 20px !important;
}
@media (min-width: 768px) {
  .l-margin-left {
    margin-left: 25px !important;
  }
}
.xl-margin-left {
  margin-left: 25px !important;
}
@media (min-width: 768px) {
  .xl-margin-left {
    margin-left: 30px !important;
  }
}
.xxl-margin-left {
  margin-left: 30px !important;
}
@media (min-width: 768px) {
  .xxl-margin-left {
    margin-left: 35px !important;
  }
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
@media (min-width: 480px) {
  .no-margin-bottom-xs {
    margin-bottom: 0 !important;
  }
}
@media (min-width: 768px) {
  .no-margin-bottom-sm {
    margin-bottom: 0 !important;
  }
}
@media (min-width: 992px) {
  .no-margin-bottom-md {
    margin-bottom: 0 !important;
  }
}
@media (min-width: 1200px) {
  .no-margin-bottom-lg {
    margin-bottom: 0 !important;
  }
}
.xxs-margin-bottom {
  margin-bottom: 0px !important;
}
@media (min-width: 768px) {
  .xxs-margin-bottom {
    margin-bottom: 5px !important;
  }
}
.xs-margin-bottom {
  margin-bottom: 5px !important;
}
@media (min-width: 768px) {
  .xs-margin-bottom {
    margin-bottom: 10px !important;
  }
}
.s-margin-bottom {
  margin-bottom: 10px !important;
}
@media (min-width: 768px) {
  .s-margin-bottom {
    margin-bottom: 15px !important;
  }
}
.m-margin-bottom {
  margin-bottom: 15px !important;
}
@media (min-width: 768px) {
  .m-margin-bottom {
    margin-bottom: 20px !important;
  }
}
.l-margin-bottom {
  margin-bottom: 20px !important;
}
@media (min-width: 768px) {
  .l-margin-bottom {
    margin-bottom: 25px !important;
  }
}
.xl-margin-bottom {
  margin-bottom: 25px !important;
}
@media (min-width: 768px) {
  .xl-margin-bottom {
    margin-bottom: 30px !important;
  }
}
.xxl-margin-bottom {
  margin-bottom: 30px !important;
}
@media (min-width: 768px) {
  .xxl-margin-bottom {
    margin-bottom: 35px !important;
  }
}
.no-margin-right {
  margin-right: 0 !important;
}
@media (min-width: 480px) {
  .no-margin-right-xs {
    margin-right: 0 !important;
  }
}
@media (min-width: 768px) {
  .no-margin-right-sm {
    margin-right: 0 !important;
  }
}
@media (min-width: 992px) {
  .no-margin-right-md {
    margin-right: 0 !important;
  }
}
@media (min-width: 1200px) {
  .no-margin-right-lg {
    margin-right: 0 !important;
  }
}
.xxs-margin-right {
  margin-right: 0px !important;
}
@media (min-width: 768px) {
  .xxs-margin-right {
    margin-right: 5px !important;
  }
}
.xs-margin-right {
  margin-right: 5px !important;
}
@media (min-width: 768px) {
  .xs-margin-right {
    margin-right: 10px !important;
  }
}
.s-margin-right {
  margin-right: 10px !important;
}
@media (min-width: 768px) {
  .s-margin-right {
    margin-right: 15px !important;
  }
}
.m-margin-right {
  margin-right: 15px !important;
}
@media (min-width: 768px) {
  .m-margin-right {
    margin-right: 20px !important;
  }
}
.l-margin-right {
  margin-right: 20px !important;
}
@media (min-width: 768px) {
  .l-margin-right {
    margin-right: 25px !important;
  }
}
.xl-margin-right {
  margin-right: 25px !important;
}
@media (min-width: 768px) {
  .xl-margin-right {
    margin-right: 30px !important;
  }
}
.xxl-margin-right {
  margin-right: 30px !important;
}
@media (min-width: 768px) {
  .xxl-margin-right {
    margin-right: 35px !important;
  }
}
.no-padding {
  padding: 0 !important;
}
@media (min-width: 480px) {
  .no-padding-xs {
    padding: 0 !important;
  }
}
@media (min-width: 768px) {
  .no-padding-sm {
    padding: 0 !important;
  }
}
@media (min-width: 992px) {
  .no-padding-md {
    padding: 0 !important;
  }
}
@media (min-width: 1200px) {
  .no-padding-lg {
    padding: 0 !important;
  }
}
.no-padding-top {
  padding-top: 0 !important;
}
@media (min-width: 480px) {
  .no-padding-top-xs {
    padding-top: 0 !important;
  }
}
@media (min-width: 768px) {
  .no-padding-top-sm {
    padding-top: 0 !important;
  }
}
@media (min-width: 992px) {
  .no-padding-top-md {
    padding-top: 0 !important;
  }
}
@media (min-width: 1200px) {
  .no-padding-top-lg {
    padding-top: 0 !important;
  }
}
.xxs-padding-top {
  padding-top: 0px !important;
}
@media (min-width: 768px) {
  .xxs-padding-top {
    padding-top: 5px !important;
  }
}
.xs-padding-top {
  padding-top: 5px !important;
}
@media (min-width: 768px) {
  .xs-padding-top {
    padding-top: 10px !important;
  }
}
.s-padding-top {
  padding-top: 10px !important;
}
@media (min-width: 768px) {
  .s-padding-top {
    padding-top: 15px !important;
  }
}
.m-padding-top {
  padding-top: 15px !important;
}
@media (min-width: 768px) {
  .m-padding-top {
    padding-top: 20px !important;
  }
}
.l-padding-top {
  padding-top: 20px !important;
}
@media (min-width: 768px) {
  .l-padding-top {
    padding-top: 25px !important;
  }
}
.xl-padding-top {
  padding-top: 25px !important;
}
@media (min-width: 768px) {
  .xl-padding-top {
    padding-top: 30px !important;
  }
}
.xxl-padding-top {
  padding-top: 30px !important;
}
@media (min-width: 768px) {
  .xxl-padding-top {
    padding-top: 35px !important;
  }
}
.no-padding-left {
  padding-left: 0 !important;
}
@media (min-width: 480px) {
  .no-padding-left-xs {
    padding-left: 0 !important;
  }
}
@media (min-width: 768px) {
  .no-padding-left-sm {
    padding-left: 0 !important;
  }
}
@media (min-width: 992px) {
  .no-padding-left-md {
    padding-left: 0 !important;
  }
}
@media (min-width: 1200px) {
  .no-padding-left-lg {
    padding-left: 0 !important;
  }
}
.xxs-padding-left {
  padding-left: 0px !important;
}
@media (min-width: 768px) {
  .xxs-padding-left {
    padding-left: 5px !important;
  }
}
.xs-padding-left {
  padding-left: 5px !important;
}
@media (min-width: 768px) {
  .xs-padding-left {
    padding-left: 10px !important;
  }
}
.s-padding-left {
  padding-left: 10px !important;
}
@media (min-width: 768px) {
  .s-padding-left {
    padding-left: 15px !important;
  }
}
.m-padding-left {
  padding-left: 15px !important;
}
@media (min-width: 768px) {
  .m-padding-left {
    padding-left: 20px !important;
  }
}
.l-padding-left {
  padding-left: 20px !important;
}
@media (min-width: 768px) {
  .l-padding-left {
    padding-left: 25px !important;
  }
}
.xl-padding-left {
  padding-left: 25px !important;
}
@media (min-width: 768px) {
  .xl-padding-left {
    padding-left: 30px !important;
  }
}
.xxl-padding-left {
  padding-left: 30px !important;
}
@media (min-width: 768px) {
  .xxl-padding-left {
    padding-left: 35px !important;
  }
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
@media (min-width: 480px) {
  .no-padding-bottom-xs {
    padding-bottom: 0 !important;
  }
}
@media (min-width: 768px) {
  .no-padding-bottom-sm {
    padding-bottom: 0 !important;
  }
}
@media (min-width: 992px) {
  .no-padding-bottom-md {
    padding-bottom: 0 !important;
  }
}
@media (min-width: 1200px) {
  .no-padding-bottom-lg {
    padding-bottom: 0 !important;
  }
}
.xxs-padding-bottom {
  padding-bottom: 0px !important;
}
@media (min-width: 768px) {
  .xxs-padding-bottom {
    padding-bottom: 5px !important;
  }
}
.xs-padding-bottom {
  padding-bottom: 5px !important;
}
@media (min-width: 768px) {
  .xs-padding-bottom {
    padding-bottom: 10px !important;
  }
}
.s-padding-bottom {
  padding-bottom: 10px !important;
}
@media (min-width: 768px) {
  .s-padding-bottom {
    padding-bottom: 15px !important;
  }
}
.m-padding-bottom {
  padding-bottom: 15px !important;
}
@media (min-width: 768px) {
  .m-padding-bottom {
    padding-bottom: 20px !important;
  }
}
.l-padding-bottom {
  padding-bottom: 20px !important;
}
@media (min-width: 768px) {
  .l-padding-bottom {
    padding-bottom: 25px !important;
  }
}
.xl-padding-bottom {
  padding-bottom: 25px !important;
}
@media (min-width: 768px) {
  .xl-padding-bottom {
    padding-bottom: 30px !important;
  }
}
.xxl-padding-bottom {
  padding-bottom: 30px !important;
}
@media (min-width: 768px) {
  .xxl-padding-bottom {
    padding-bottom: 35px !important;
  }
}
.no-padding-right {
  padding-right: 0 !important;
}
@media (min-width: 480px) {
  .no-padding-right-xs {
    padding-right: 0 !important;
  }
}
@media (min-width: 768px) {
  .no-padding-right-sm {
    padding-right: 0 !important;
  }
}
@media (min-width: 992px) {
  .no-padding-right-md {
    padding-right: 0 !important;
  }
}
@media (min-width: 1200px) {
  .no-padding-right-lg {
    padding-right: 0 !important;
  }
}
.xxs-padding-right {
  padding-right: 0px !important;
}
@media (min-width: 768px) {
  .xxs-padding-right {
    padding-right: 5px !important;
  }
}
.xs-padding-right {
  padding-right: 5px !important;
}
@media (min-width: 768px) {
  .xs-padding-right {
    padding-right: 10px !important;
  }
}
.s-padding-right {
  padding-right: 10px !important;
}
@media (min-width: 768px) {
  .s-padding-right {
    padding-right: 15px !important;
  }
}
.m-padding-right {
  padding-right: 15px !important;
}
@media (min-width: 768px) {
  .m-padding-right {
    padding-right: 20px !important;
  }
}
.l-padding-right {
  padding-right: 20px !important;
}
@media (min-width: 768px) {
  .l-padding-right {
    padding-right: 25px !important;
  }
}
.xl-padding-right {
  padding-right: 25px !important;
}
@media (min-width: 768px) {
  .xl-padding-right {
    padding-right: 30px !important;
  }
}
.xxl-padding-right {
  padding-right: 30px !important;
}
@media (min-width: 768px) {
  .xxl-padding-right {
    padding-right: 35px !important;
  }
}
@media (min-width: 480px) {
  .xs-center {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .sm-center {
    text-align: center;
  }
}
@media (min-width: 992px) {
  .md-center {
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .lg-center {
    text-align: center;
  }
}
@media (min-width: 480px) {
  .xs-right {
    text-align: right;
  }
}
@media (min-width: 768px) {
  .sm-right {
    text-align: right;
  }
}
@media (min-width: 992px) {
  .md-right {
    text-align: right;
  }
}
@media (min-width: 1200px) {
  .lg-right {
    text-align: right;
  }
}
@media (min-width: 480px) {
  .xs-left {
    text-align: left;
  }
}
@media (min-width: 768px) {
  .sm-left {
    text-align: left;
  }
}
@media (min-width: 992px) {
  .md-left {
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .lg-left {
    text-align: left;
  }
}
.xxs-line-height {
  line-height: 5px !important;
}
.xs-line-height {
  line-height: 10px !important;
}
.s-line-height {
  line-height: 15px !important;
}
.m-line-height {
  line-height: 20px !important;
}
.l-line-height {
  line-height: 25px !important;
}
.xl-line-height {
  line-height: 30px !important;
}
.xxl-line-height {
  line-height: 35px !important;
}
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
@media (min-width: 480px) {
  .no-gutter-xs > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  .no-gutter-sm > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 992px) {
  .no-gutter-md > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 1200px) {
  .no-gutter-lg > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
  }
}
/*
 * Примеси
 */
@font-face {
  font-family: 'CoHeadline';
  src: url("/fonts/CoHeadline.ttf");
  font-weight: normal;
}
@font-face {
  font-family: 'Regal';
  src: url("/fonts/Regal.ttf");
  font-weight: normal;
}
@font-face {
  font-family: 'Regal';
  src: url("/fonts/RegalBold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: 'CirceWeb-Bold';
  src: url("/fonts/bold.woff") format('woff');
  font-weight: bold;
}
@font-face {
  font-family: 'CirceWeb-Light';
  src: url("/fonts/regular.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'CirceWeb-Regular';
  src: url("/fonts/light.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'CirceWeb-ExtraBold';
  src: url("/fonts/extra-bold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}
body {
  background: #f6f6f4;
  font-family: 'Regal', serif;
  margin: 0;
  font-size: 18px;
  padding-top: 65px;
}
.login {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-height: 145px;
  background: #fff;
  -webkit-box-shadow: 2px 2px 0 0 rgba(0,0,0,0.07);
  box-shadow: 2px 2px 0 0 rgba(0,0,0,0.07);
  width: 400px;
  margin: 0 auto;
  padding: 20px 20px 30px;
  text-align: center;
}
.login--width {
  width: 800px;
}
.login__title {
  font-family: 'CoHeadline';
  font-size: 22px;
  margin-bottom: 25px;
}
.login #login-buttons-facebook {
  background: #304a7f;
}
.login #login-buttons-twitter {
  background: #1eb3e9;
}
.login #login-buttons-vk {
  background: #426489;
}
.login .login-text-and-button,
.login .login-button-form-submit {
  cursor: pointer;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: 30%;
  display: inline-block;
  font-family: 'CirceWeb-Bold';
  font-size: 16px;
  color: #fff;
  margin: 0 auto;
  line-height: 35px;
  margin: 2px 0;
  background: #4057ac;
}
.login .additional-link-container a {
  font-size: 12px;
}
.login .or {
  padding: 10px 0;
}
.login .login-password-form label {
  width: 35%;
  float: left;
  height: 35px;
  margin-bottom: 0px;
  line-height: 35px;
}
.login .login-password-form input {
  width: 65%;
  float: right;
  height: 35px;
}
.login .login-password-form input,
.login .login-password-form label {
  margin-bottom: 10px;
}
.course-title {
  float: left;
  width: 100%;
  margin-top: -25px;
  min-height: 300px;
  margin-bottom: 30px;
  position: relative;
  background: #f6f6f4 url("/images/bg.jpg") center -80px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.course-title__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.course-title__big {
  font-size: 70px;
  font-family: 'CoHeadline';
  line-height: 55px;
}
.course-title__small {
  font-family: 'CirceWeb-Regular';
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-size: 14px;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.days {
  background: #fff;
  padding: 50px 0;
}
.days .container {
  max-width: 700px;
}
.days__item {
  float: left;
  width: 100%;
  margin: 20px 0 25px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(0,0,0,0.09);
}
.days__item:last-of-type {
  border-bottom: 0;
}
.days .badge {
  display: inline-block;
  padding: 0 10px;
  line-height: 26px;
  height: 25px;
  font-size: 8px;
  margin-top: 10px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  letter-spacing: 1px;
  color: #fff;
  background: #4057ac;
  font-family: 'CirceWeb-Regular';
  text-transform: uppercase;
}
.days .badge--answer {
  background: #518e29;
}
.days__name {
  font-size: 26px;
  line-height: 26px;
  margin-bottom: 5px;
  font-family: 'CirceWeb-Bold';
}
.days__name a {
  color: #4057ac;
  text-decoration: none;
}
.days__name a:hover {
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(64,87,172,0.3) 50%);
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(64,87,172,0.3) 50%);
  background-image: -o-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(64,87,172,0.3) 50%);
  background-image: -ms-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(64,87,172,0.3) 50%);
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(64,87,172,0.3) 50%);
  background-repeat: repeat-x;
  -webkit-background-size: 2px 2px;
  -moz-background-size: 2px 2px;
  background-size: 2px 2px;
  background-position: 0 25px;
}
.days__date {
  font-family: 'CirceWeb-Bold';
  text-transform: uppercase;
  font-size: 10px;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  margin-bottom: 3px;
  letter-spacing: 1px;
}
.days__description {
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
  font-size: 17px;
  line-height: 19px;
}
.days__icon {
  text-align: center;
  margin-top: 5px;
  float: left;
  width: 100%;
}
.days__icon svg {
  display: inline-block;
  max-width: 60px;
  max-height: 60px;
}
.footer {
  float: left;
  width: 100%;
  line-height: 60px;
  border-top: 2px solid #eee;
  height: 60px;
  font-size: 10px;
  color: rgba(0,0,0,0.5);
  text-transform: uppercase;
  font-family: 'CirceWeb-Regular';
  letter-spacing: 2px;
  text-align: center;
}
.footer span {
  position: relative;
  top: -1px;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.spinner {
  float: left;
  width: 100%;
  padding: 50px 0;
}
.print-version {
  color: #4057ac;
  float: right;
  font-family: 'CirceWeb-Regular';
  border: 1px solid #4057ac;
  line-height: 35px;
  padding: 0 20px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
  font-size: 13px;
}
.print-version:hover {
  background: #4057ac;
  color: #fff;
}
.library {
  text-align: center;
  padding: 40px 0 80px;
  float: left;
  width: 100%;
}
.library__author {
  font-family: 'CirceWeb-Light';
  font-size: 13px;
  margin-top: 10px;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}
.library__title {
  font-family: 'CirceWeb-Bold';
  font-size: 16px;
  line-height: 18px;
}
.library__item {
  color: #000;
}
.library__item:hover {
  color: #4057ac;
}
.library .row+.row {
  margin-top: 40px;
}
.library .col-xs-offset-1 {
  margin-left: 13%;
}
.library__image {
  width: 136px;
  height: 200px;
  margin-top: -32px;
  margin-left: -32px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.library__frame {
  display: inline-block;
  border: 32px solid transparent;
  height: 218px;
  margin-top: 30px;
  margin-left: 16px;
  width: 153px;
  -webkit-border-image: url("/images/book-shadow.png") 32 repeat;
  -moz-border-image: url("/images/book-shadow.png") 32 repeat;
  -o-border-image: url("/images/book-shadow.png") 32 repeat;
  border-image: url("/images/book-shadow.png") 32 repeat;
}
.toolbar {
  float: left;
  width: 100%;
  background: rgba(255,255,255,0.9);
  height: 45px;
  line-height: 45px;
  font-size: 17px;
  color: #4057ac;
  -webkit-box-shadow: 2px 2px 0 0 rgba(0,0,0,0.07);
  box-shadow: 2px 2px 0 0 rgba(0,0,0,0.07);
  position: fixed;
  z-index: 400;
  top: 0;
  left: 0;
  font-family: 'CirceWeb-ExtraBold';
  text-align: center;
}
.toolbar__title {
  color: #4057ac;
}
.toolbar__title:hover {
  text-decoration: none;
  color: #4057ac;
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(64,87,172,0.3) 50%);
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(64,87,172,0.3) 50%);
  background-image: -o-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(64,87,172,0.3) 50%);
  background-image: -ms-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(64,87,172,0.3) 50%);
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(64,87,172,0.3) 50%);
  background-repeat: repeat-x;
  -webkit-background-size: 2px 2px;
  -moz-background-size: 2px 2px;
  background-size: 2px 2px;
  background-position: 0 calc(100% - 1px);
}
.toolbar #login-buttons {
  font-size: 15px;
  font-family: 'CirceWeb-Regular';
  position: relative;
}
.toolbar #login-buttons a,
.toolbar #login-buttons .login-button {
  display: inline;
  color: #4057ac;
  cursor: pointer;
}
.toolbar #login-buttons a:hover,
.toolbar #login-buttons .login-button:hover {
  text-decoration: none;
  color: #4057ac;
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(64,87,172,0.3) 50%);
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(64,87,172,0.3) 50%);
  background-image: -o-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(64,87,172,0.3) 50%);
  background-image: -ms-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(64,87,172,0.3) 50%);
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(64,87,172,0.3) 50%);
  background-repeat: repeat-x;
  -webkit-background-size: 2px 2px;
  -moz-background-size: 2px 2px;
  background-size: 2px 2px;
  background-position: 0 calc(100% - 1px);
}
.toolbar #login-buttons #login-dropdown-list {
  background: #fff;
  position: absolute;
  right: 0;
  top: 100%;
  -webkit-box-shadow: 2px 2px 0 0 rgba(0,0,0,0.07);
  box-shadow: 2px 2px 0 0 rgba(0,0,0,0.07);
  min-width: 100px;
  padding: 5px 20px;
  text-align: center;
  line-height: 25px;
  font-size: 13px;
}
@media print {
  .toolbar {
    display: none;
  }
}
.day__title {
  float: left;
  width: 100%;
  margin-top: -20px;
  min-height: 200px;
  margin-bottom: 30px;
  position: relative;
  background: #f6f6f4 url("/images/bg.jpg") center -80px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.day__title-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 30;
  color: #fff;
  text-align: center;
}
.day__title-big {
  font-size: 55px;
  line-height: 52px;
  margin-bottom: 10px;
  font-family: 'CirceWeb-Bold';
}
.day__frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.day .day__result,
.answer__result {
  float: left;
  width: 100%;
  background: rgba(217,215,98,0.2);
  padding: 40px 0 30px;
}
.day .day__result .container,
.answer__result .container {
  max-width: 600px !important;
}
.day .day__result h1,
.answer__result h1 {
  float: left;
  width: 100%;
  margin-top: 0;
  margin-bottom: 30px !important;
}
.day .day__result .row+.row,
.answer__result .row+.row {
  margin-top: 30px;
}
.day .day__result-name,
.answer__result-name {
  float: left;
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-family: 'CirceWeb-Light';
  font-size: 13px;
  margin-bottom: 20px;
  text-align: right;
}
.day .day__result-image,
.answer__result-image {
  float: right;
  width: 30px;
  height: 30px;
  margin-left: 15px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center center;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}
.day__content {
  background: #fff;
}
.day__content p {
  margin-bottom: 20px;
}
.day__content iframe {
  margin: 20px 0;
}
.day__content h1 {
  margin-bottom: 20px;
}
.day__content p + h1,
.day__content textarea + h1 {
  margin-top: 50px;
}
.day__content h3 {
  margin-bottom: 25px;
}
.day__content video {
  width: 100%;
  height: 642px;
}
.day__content .table.big {
  width: 100%;
}
.day__content .table.big td {
  vertical-align: middle;
  border: 1px solid #ddd;
  width: 20%;
  height: 150px;
  padding: 0 20px;
  font-family: 'CirceWeb-Light';
  font-size: 25px;
  line-height: 25px;
  text-align: center;
}
.day__content .nav-tabs.colors li a {
  color: #000;
  font-size: 13px;
}
.day__content .nav-tabs li {
  font-size: 16px;
  margin-top: 10px;
}
.day__content .nav-tabs li.active a {
  background-color: #fff !important;
  color: #000 !important;
}
.day__content .nav-tabs li:not(.active) a {
  color: #4057ac;
}
.day__content ol {
  margin-bottom: 30px;
}
.day__content ol li {
  margin-bottom: 15px;
}
.day__content .tab-pane {
  padding: 30px 0;
}
.day__content .tab-pane h2 {
  margin-top: 0;
}
.day__content .tab-pane .row+.row {
  margin-top: 10px;
}
.day .container {
  max-width: 883px;
}
.day .container--width {
  max-width: 1160px;
}
.day .container img {
  max-width: 100%;
}
.day .container + .task {
  padding-top: 40px;
  margin-top: 20px;
}
.day .task {
  float: left;
  width: 100%;
  background: #f6f6f4;
  padding: 20px 0 40px;
  margin: -10px 0 40px;
}
.day .task label {
  font-weight: normal;
}
.day .task input[type="checkbox"] {
  display: inline;
  margin-right: 5px;
}
.day .task .icheckbox_square-blue {
  margin-right: 7px;
  top: -2px;
}
.day .task .row+.row {
  margin-top: 20px;
}
.day .task h3 {
  margin-top: 0;
}
.day .task textarea + h3,
.day .task .row+h3 {
  margin-top: 40px;
}
.day .task textarea,
.answer__field textarea {
  display: block;
  width: 100%;
  border: 0;
  resize: none;
  -webkit-box-shadow: inset -2px -2px 0 0 rgba(0,0,0,0.07);
  box-shadow: inset -2px -2px 0 0 rgba(0,0,0,0.07);
  padding: 20px;
  min-height: 200px;
}
.day .task textarea:focus,
.answer__field textarea:focus {
  outline: 0;
}
.day .task textarea.editor {
  min-height: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0 !important;
  -webkit-box-shadow: 2px 2px 0 0 rgba(0,0,0,0.07);
  box-shadow: 2px 2px 0 0 rgba(0,0,0,0.07);
}
.day .task .table,
.table.normal,
.answer .table {
  margin-top: 45px;
  margin-bottom: 45px;
  font-family: 'CirceWeb-Regular';
}
.day .task .table[name="t2"] tr td:nth-child(2),
.table.normal[name="t2"] tr td:nth-child(2),
.answer .table[name="t2"] tr td:nth-child(2),
.day .task .table.diagramm tr td:nth-child(2),
.table.normal.diagramm tr td:nth-child(2),
.answer .table.diagramm tr td:nth-child(2),
.day .task .table[name="t2"] tr th:nth-child(2),
.table.normal[name="t2"] tr th:nth-child(2),
.answer .table[name="t2"] tr th:nth-child(2),
.day .task .table.diagramm tr th:nth-child(2),
.table.normal.diagramm tr th:nth-child(2),
.answer .table.diagramm tr th:nth-child(2),
.day .task .table[name="t2"] tr td:nth-child(6),
.table.normal[name="t2"] tr td:nth-child(6),
.answer .table[name="t2"] tr td:nth-child(6),
.day .task .table.diagramm tr td:nth-child(6),
.table.normal.diagramm tr td:nth-child(6),
.answer .table.diagramm tr td:nth-child(6),
.day .task .table[name="t2"] tr th:nth-child(6),
.table.normal[name="t2"] tr th:nth-child(6),
.answer .table[name="t2"] tr th:nth-child(6),
.day .task .table.diagramm tr th:nth-child(6),
.table.normal.diagramm tr th:nth-child(6),
.answer .table.diagramm tr th:nth-child(6) {
  text-align: center;
}
.day .task .table.diagramm td,
.table.normal.diagramm td,
.answer .table.diagramm td,
.day .task .table.diagramm th,
.table.normal.diagramm th,
.answer .table.diagramm th {
  vertical-align: middle;
}
.day .task .table.diagramm td:nth-child(2),
.table.normal.diagramm td:nth-child(2),
.answer .table.diagramm td:nth-child(2),
.day .task .table.diagramm th:nth-child(2),
.table.normal.diagramm th:nth-child(2),
.answer .table.diagramm th:nth-child(2),
.day .task .table.diagramm td:nth-child(3),
.table.normal.diagramm td:nth-child(3),
.answer .table.diagramm td:nth-child(3),
.day .task .table.diagramm th:nth-child(3),
.table.normal.diagramm th:nth-child(3),
.answer .table.diagramm th:nth-child(3),
.day .task .table.diagramm td:nth-child(4),
.table.normal.diagramm td:nth-child(4),
.answer .table.diagramm td:nth-child(4),
.day .task .table.diagramm th:nth-child(4),
.table.normal.diagramm th:nth-child(4),
.answer .table.diagramm th:nth-child(4) {
  text-align: center;
}
.day .task .table th,
.table.normal th,
.answer .table th {
  font-size: 17px;
  line-height: 14px;
}
.day .task .table td,
.table.normal td,
.answer .table td,
.day .task .table th,
.table.normal th,
.answer .table th {
  font-size: 14px;
  padding: 10px 15px;
  height: 40px;
}
.day .task .table td:focus,
.table.normal td:focus,
.answer .table td:focus,
.day .task .table th:focus,
.table.normal th:focus,
.answer .table th:focus {
  outline: none;
}
.day .task .table td,
.table.normal td,
.answer .table td {
  line-height: 18px;
}
.day .task .table td:focus,
.table.normal td:focus,
.answer .table td:focus {
  background: #fff;
  -webkit-box-shadow: inset 2px 2px 0 0 rgba(0,0,0,0.07);
  box-shadow: inset 2px 2px 0 0 rgba(0,0,0,0.07);
}
.color-picker {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
.features-list {
  padding: 25px 0;
}
.features-list .row + .row {
  margin-top: 20px;
}
.uploadcare-widget {
  font-family: 'CirceWeb-Regular';
  font-size: 16px;
}
.uploadcare-widget-file-name {
  border: 0;
  color: #4057ac;
  text-decoration: none;
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(64,87,172,0.5) 50%);
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(64,87,172,0.5) 50%);
  background-image: -o-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(64,87,172,0.5) 50%);
  background-image: -ms-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(64,87,172,0.5) 50%);
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(64,87,172,0.5) 50%);
  background-repeat: repeat-x;
  -webkit-background-size: 2px 2px;
  -moz-background-size: 2px 2px;
  background-size: 2px 2px;
  background-position: 0 calc(100% - 1px);
}
.uploadcare-widget-file-name:hover {
  color: rgba(64,87,172,0.5);
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(64,87,172,0.5) 50%);
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(64,87,172,0.5) 50%);
  background-image: -o-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(64,87,172,0.5) 50%);
  background-image: -ms-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(64,87,172,0.5) 50%);
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(64,87,172,0.5) 50%);
  background-repeat: repeat-x;
  -webkit-background-size: 2px 2px;
  -moz-background-size: 2px 2px;
  background-size: 2px 2px;
  background-position: 0 calc(100% - 1px);
}
.uploadcare-widget-button {
  background: #4057ac;
  line-height: 30px;
  padding: 1px 20px 0;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 3px;
  cursor: pointer;
}
.uploadcare-widget-button:hover {
  background: rgba(64,87,172,0.7);
}
.center {
  text-align: center;
}
h4 {
  font-size: 20px;
}
.article__text {
  padding: 50px 0;
  float: left;
  width: 100%;
  background: #fff;
}
.article__text canvas {
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
}
.article__text .circles.row > div {
  padding: 0 30px;
}
.article__text .circle__frame {
  margin: 30px 0;
  position: relative;
}
.article__text .circle__frame img {
  display: none;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}
.article__text p a {
  color: #4057ac;
  text-decoration: none;
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(64,87,172,0.5) 50%);
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(64,87,172,0.5) 50%);
  background-image: -o-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(64,87,172,0.5) 50%);
  background-image: -ms-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(64,87,172,0.5) 50%);
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(64,87,172,0.5) 50%);
  background-repeat: repeat-x;
  -webkit-background-size: 2px 2px;
  -moz-background-size: 2px 2px;
  background-size: 2px 2px;
  background-position: 0 calc(100% - 1px);
}
.article__text + .task {
  padding-top: 40px;
  margin-top: 20px;
}
.article.admin .task {
  display: block;
}
.article:not(.hidden) + .article-trigger {
  margin-top: 0;
}
.article-trigger {
  float: left;
  width: 100%;
  line-height: 45px;
  height: 45px;
  background: rgba(64,87,172,0.5);
  color: #fff;
  font-size: 12px;
  font-family: 'CirceWeb-Regular';
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  margin-top: -30px;
}
.article-trigger .h {
  display: none;
}
.article-trigger span {
  position: relative;
  z-index: 2;
}
.article-trigger:hover {
  text-decoration: none;
}
.article-trigger:hover span {
  color: #fff;
  text-decoration: none;
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(255,255,255,0.5) 50%);
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(255,255,255,0.5) 50%);
  background-image: -o-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(255,255,255,0.5) 50%);
  background-image: -ms-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(255,255,255,0.5) 50%);
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(255,255,255,0.5) 50%);
  background-repeat: repeat-x;
  -webkit-background-size: 2px 2px;
  -moz-background-size: 2px 2px;
  background-size: 2px 2px;
  background-position: 0 calc(100% - 1px);
}
.admin-area {
  float: left;
  width: 100%;
  background: #fff;
  padding: 40px 0;
}
.answer {
  float: left;
  width: 100%;
}
.answer__result {
  background: transparent;
}
.answer h3 {
  font-family: 'CirceWeb-Bold';
  margin-bottom: 10px;
}
.answer p {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  margin-bottom: 10px;
}
.answer .answer__item + .answer__item {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid rgba(0,0,0,0.08);
}
.answer__field {
  float: left;
  width: 100%;
  background: #f6f6f4;
  margin-top: 40px;
  padding: 40px;
  padding-bottom: 25px;
}
.answer__field + h2 {
  margin-top: 40px !important;
  float: left;
  width: 100%;
}
.answer__field textarea {
  float: left;
  width: 100%;
}
.answer__field table + textarea {
  min-height: none;
}
.answer__field input {
  float: right;
  border: 0;
  background: #4057ac;
  color: #fff;
  margin-top: 20px;
  padding: 0 20px;
  font-size: 12px;
  font-family: 'CirceWeb-Regular';
  line-height: 43px;
  text-transform: uppercase;
  height: 45px;
  -webkit-box-shadow: 2px 2px 0 0 rgba(0,0,0,0.07);
  box-shadow: 2px 2px 0 0 rgba(0,0,0,0.07);
  position: relative;
  letter-spacing: 2px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.answer__field input:hover {
  top: -2px;
  left: -2px;
  -webkit-box-shadow: 4px 4px 0 0 rgba(0,0,0,0.12);
  box-shadow: 4px 4px 0 0 rgba(0,0,0,0.12);
}
.answer__field input:active {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  top: 0px;
  left: 0px;
  -webkit-box-shadow: 2px 2px 0 0 rgba(0,0,0,0.12);
  box-shadow: 2px 2px 0 0 rgba(0,0,0,0.12);
}
.uploadcare-widget {
  white-space: initial;
}
