template(name="Days1")
	.article(class="{{#if isInRole 'admin'}}hidden admin{{/if}}")
		.container
			h1 «У вас не будет второго шанса произвести первое впечатление» Коко Шанель
			p В потрясающей книги Хоакима де Посада и Эллен Зингер «Не набрасывайтесь на мармелад!» есть глава рассказывающая, что эффект первого впечатления длится 40 секунд. Именно за это время у нашего собеседника полностью формируется мнение. 
			p Для того, чтобы контролировать этот процесс и подчинить его своим целям и задачам нужно познакомится с двумя понятиями - психотип и визуальный код. 
			
			p Психотип — это набор определенных качеств личности, психологического и эмоционального состояния. 
			p Визуальный код — это понятие которое дополнительно включает в себя социальные особенности человека, его образ жизни, его ценности и привычки, которые находят отражение во внешнем виде. 
			p Тем не менее и психотип и визуальный код понятие друг друга не ограничивающие, а работающие сопряжено. Однако, для более яркого, структурированного и понятного имиджа, обычно, выбирают либо смежные визуальные кода и психотипы (например, психотип «Классик» и визуальный код «Обучение и развитие») или же что-то одно: психотип или визуальный код.
			| <iframe width="853" height="480" src="//www.youtube.com/embed/JmQXXaApa6w?rel=0&amp;controls=2&amp;showinfo=0&amp;hd=1&amp;vq=hd1080" frameborder="0" allowfullscreen></iframe>
			h1 Визуальный код по квадрантам
			table.table.table-bordered.big
				tr
					td Дом <br>и уют
					td Природа <br>и дух
					td Тело <br>и уход
					td Успех <br>и богатство
				tr
					td Креативность <br>и творчество
					td Обучение <br>и развитие
					td Мода <br>и стиль
					td Персональный квадрант
			.tabpanel
				ul.nav.nav-tabs(role="tablist")
					li.active(role="presentation")
						a(href="#t-1", aria-controls="profile", role="tab", data-toggle="tab") Дом
					li(role="presentation")
						a(href="#t-2", aria-controls="profile", role="tab", data-toggle="tab") Природа
					li(role="presentation")
						a(href="#t-3", aria-controls="profile", role="tab", data-toggle="tab") Тело
					li(role="presentation")
						a(href="#t-4", aria-controls="profile", role="tab", data-toggle="tab") Успех
					li(role="presentation")
						a(href="#t-5", aria-controls="profile", role="tab", data-toggle="tab") Креативность
					li(role="presentation")
						a(href="#t-6", aria-controls="profile", role="tab", data-toggle="tab") Обучение
					li(role="presentation")
						a(href="#t-7", aria-controls="profile", role="tab", data-toggle="tab") Мода
					li(role="presentation")
						a(href="#t-8", aria-controls="profile", role="tab", data-toggle="tab") Персональный квадрант
				.tab-content
					.tab-pane.active(id="t-1", role="tabpanel")
						h2 Дом и уют
						.row
							.col-xs-2.right 
								strong Цвета:
							.col-xs-9 пастельные варианты, приглушенные цветовые решения, охристая палитра. 
						.row
							.col-xs-2.right 
								strong Материалы: 
							.col-xs-9 трикотаж, шерсть, лен, хлопок, деним. 
						.row
							.col-xs-2.right 
								strong Фактуры: 
							.col-xs-9 вязаные вещи и вещи из денима. Возможна комбинация с легкими тканями.
						.row
							.col-xs-2.right 
								strong Силуэт: 
							.col-xs-9 свободный покрой и мягкая геометрия. 
						.row
							.col-xs-2.right 
								strong Обувь: 
							.col-xs-9 плоский ход.
						.row
							.col-xs-2.right 
								strong Аксессуары: 
							.col-xs-9 палантины/платки.
						.row
							.col-xs-2.right 
								strong Стиль: 
							.col-xs-9 casual
					.tab-pane(id="t-2", role="tabpanel")
						h2 Природа и дух
						.row
							.col-xs-2.right 
								strong Цвета:
							.col-xs-9 природные сочетания. 
						.row
							.col-xs-2.right 
								strong Материалы: 
							.col-xs-9 трикотаж, шерсть, лен, хлопок. 
						.row
							.col-xs-2.right 
								strong Фактуры: 
							.col-xs-9 вязаные вещи и вещи из денима. Возможна комбинация с легкими тканями.
						.row
							.col-xs-2.right 
								strong Силуэт: 
							.col-xs-9 свободный покрой. 
						.row
							.col-xs-2.right 
								strong Обувь: 
							.col-xs-9 плоский ход.
						.row
							.col-xs-2.right 
								strong Аксессуары: 
							.col-xs-9 из дерева и металла, браслеты шамбала, фенечки, этнические украшения. 
						.row
							.col-xs-2.right 
								strong Стиль: 
							.col-xs-9 сафари и этника.
					.tab-pane(id="t-3", role="tabpanel")
						h2 Тело и уход
						.row
							.col-xs-2.right 
								strong Цвета:
							.col-xs-9 яркая цветовая палитра, неон, контрастные решения. 
						.row
							.col-xs-2.right 
								strong Материалы: 
							.col-xs-9 синтетические ткани и ткани содержащие эластан.
						.row
							.col-xs-2.right 
								strong Фактуры: 
							.col-xs-9 четко не регламентированы.
						.row
							.col-xs-2.right 
								strong Силуэт: 
							.col-xs-9 четко очерченная геометрия, обтягивающие и облегающие вещи.
						.row
							.col-xs-2.right 
								strong Обувь: 
							.col-xs-9 плоский ход или каблук.
						.row
							.col-xs-2.right 
								strong Аксессуары: 
							.col-xs-9 четко не регламентированы. 
						.row
							.col-xs-2.right 
								strong Стиль: 
							.col-xs-9 спортивный шик и подчеркнутая сексуальность.
					.tab-pane(id="t-4", role="tabpanel")
						h2 Успех и богатство
						.row
							.col-xs-2.right 
								strong Цвета:
							.col-xs-9 цветовое ограничение, приглушенные и густые цвета. 
						.row
							.col-xs-2.right 
								strong Материалы: 
							.col-xs-9 жаккард, парча, атлас. Ткани содержащие синтетическую нить.
						.row
							.col-xs-2.right 
								strong Фактуры: 
							.col-xs-9 блеск.
						.row
							.col-xs-2.right 
								strong Силуэт: 
							.col-xs-9 сдержанный и подчеркнутый.
						.row
							.col-xs-2.right 
								strong Обувь: 
							.col-xs-9 каблук.
						.row
							.col-xs-2.right 
								strong Аксессуары: 
							.col-xs-9 ювелирные и дизайнерские украшения. Ставка на бренд и качество.
						.row
							.col-xs-2.right 
								strong Стиль: 
							.col-xs-9 glamour.
					.tab-pane(id="t-5", role="tabpanel")
						h2 Креативность и творчество
						.row
							.col-xs-2.right 
								strong Цвета:
							.col-xs-9 яркая цветовая палитра, цветовое многообразие, принты. 
						.row
							.col-xs-2.right 
								strong Материалы: 
							.col-xs-9 четко не регламентированы.
						.row
							.col-xs-2.right 
								strong Фактуры: 
							.col-xs-9 сложное фактурное решение, сочетание легких тканей и плотных.
						.row
							.col-xs-2.right 
								strong Силуэт: 
							.col-xs-9 четко не регламентирован.
						.row
							.col-xs-2.right 
								strong Обувь: 
							.col-xs-9 плоский ход или каблук.
						.row
							.col-xs-2.right 
								strong Аксессуары: 
							.col-xs-9 массивные украшения, агрессивная бижутерия, которая привлекает внимание.
						.row
							.col-xs-2.right 
								strong Стиль: 
							.col-xs-9 стилевое многообразие.
					.tab-pane(id="t-6", role="tabpanel")
						h2 Обучение и развитие
						.row
							.col-xs-2.right 
								strong Цвета:
							.col-xs-9 цветовое ограничение, приглушенные и густые цвета. 
						.row
							.col-xs-2.right 
								strong Материалы: 
							.col-xs-9 костюмные ткани.
						.row
							.col-xs-2.right 
								strong Фактуры: 
							.col-xs-9 гладкие ткани, не имеющие фактурного решения.
						.row
							.col-xs-2.right 
								strong Силуэт: 
							.col-xs-9 сдержанный и геометричный.
						.row
							.col-xs-2.right 
								strong Обувь: 
							.col-xs-9 каблук.
						.row
							.col-xs-2.right 
								strong Аксессуары: 
							.col-xs-9 минимальное количество украшений. Ювелирные украшения. 
						.row
							.col-xs-2.right 
								strong Стиль: 
							.col-xs-9 классический.
					.tab-pane(id="t-7", role="tabpanel")
						h2 Мода и стиль
						.row
							.col-xs-2.right 
								strong Цвета:
							.col-xs-9 цветовое многообразие, принты.
						.row
							.col-xs-2.right 
								strong Материалы: 
							.col-xs-9 комбинирование совершенно разных материалов.
						.row
							.col-xs-2.right 
								strong Фактуры: 
							.col-xs-9 сложное фактурное решение.
						.row
							.col-xs-2.right 
								strong Силуэт: 
							.col-xs-9 четко не регламентирован и может быть как нарочито объемным, так и  сдержанным. 
						.row
							.col-xs-2.right 
								strong Обувь: 
							.col-xs-9 плоский ход или каблук.
						.row
							.col-xs-2.right 
								strong Аксессуары: 
							.col-xs-9 использование дизайнерских украшений, сложной бижутерии (каффы, кольца на фаланги и т.д.)
						.row
							.col-xs-2.right 
								strong Стиль: 
							.col-xs-9 стилевое многообразие.
					.tab-pane(id="t-8", role="tabpanel")
						h2 Персональный квадрант
						p Если соотнести себя с каким-то из предложенных вариантов не удалось - можно прописать для себя определенный квадрант самостоятельно. 
						p Выявить критерии, проанализировать силуэты, материалы и стиль, ну и самое главное задать вектор, который определяет твои хобби, социальную роль и навыки.
		.task
			.container
				h3 Выбери свой квадрант и напишите почему именно он стал определяющим?
				textarea(placeholder="Напиши сюда свой ответ", name="q1", data-title="Выбери свой квадрант и напишите почему именно он стал определяющим?") {{q1.value}}
		.container
			h1 Традиционная классификация психотипов
			.tabpanel
				ul.nav.nav-tabs(role="tablist")
					li.active(role="presentation")
						a(href="#tp-1", aria-controls="profile", role="tab", data-toggle="tab") Драматик
					li(role="presentation")
						a(href="#tp-2", aria-controls="profile", role="tab", data-toggle="tab") Романтик
					li(role="presentation")
						a(href="#tp-3", aria-controls="profile", role="tab", data-toggle="tab") Классик
					li(role="presentation")
						a(href="#tp-4", aria-controls="profile", role="tab", data-toggle="tab") Естественный
					li(role="presentation")
						a(href="#tp-5", aria-controls="profile", role="tab", data-toggle="tab") Гамин
				.tab-content
					.tab-pane.active(id="tp-1", role="tabpanel")
						h2 Драматик
						p Неординарный психотип, душа компании. Всегда уверенный в себе, любит быть в центре внимания. Драматики смелые и решительные, умеют и любят эпатировать публику. Эпатаж проявляется  в нестандартных стилевых решениях, в открытой сексуальности, которая может казаться излишне фривольной; в бесконечном стремлении сделать свою фигуру безупречной. Несмотря на то, что люди этого типа любят производить яркое впечатление, в одежде они предпочитают классические формы и традиционные предметы гардероба. С удовольствием носят меха, звериные принты, черный и красные цвета. Обожают ювелирные украшения.
					.tab-pane(id="tp-2", role="tabpanel")
						h2 Романтик
						p Сложная натура, эмоции ставят на первый план. Творческий потенциал велик, романтики часто становятся прекрасными художниками, музыкантами, поэтами. Им важно, чтобы одежда была комфортной, приятной на ощупь, но эффектной! Они обожают кашемир, шелк, замшу. Шарфы, различные украшения, обувь – детали оценены романтиками, как никем другим. Шоппинг –  их слабость большая, зачастую  покупки делаются спонтанно и совершенно бесполезно. У романтиков нет какого-то конкретного стиля в одежде. Здесь правит стилистическое многообразие, которое очень часто превращается в хаос. Предпочитают крупную бижутерию, интересные принты на одежды.
					.tab-pane(id="tp-3", role="tabpanel")
						h2 Классик
						p Спокойный, организованный, консерватор, живущий по плану. Не любит быть заметным, очень осторожно проявляют индивидуальность. Люди структуры, не склонны к авантюризму. Идеальный офисный работник или преподаватель. Классика легко определить по единообразию в сочетании цвета сумки с обувью, они знают, что это в английском стиле и чопорность данного ансамбля им близка и понятна. 
						p У классиков нет проблем с базовой одеждой, им всегда есть что одеть. Они предпочитают элегантные вещи полуприлегающего кроя. Не выбирают бижутерию, отдавая предпочтение натуральным камням и ювелирным украшениям. Их любимые цвета –  базовые и очень приглушенные. Яркие цвета ставят их в ступор, ведь классикам сложно скомбинировать цвет, принт и фактуру.
					.tab-pane(id="tp-4", role="tabpanel")
						h2 Естественный
						p Это единственный тип, который может позволить себе выглядеть неряшливо. Мода для него слово страшное, а занятие бесполезное.  Одежду покупает редко. Терпеть не может обувь на каблуке, одежду марких цветов, особенно сложно работает с белым цветом.  Обожают вещи свободного и простого покроя, спортивную одежду, мятые ткани. Выбирают такую одежду, которая  не требуют особенного ухода. Важно, чтобы вещи были комфортные, остальное не играет никакой роли. 
					.tab-pane(id="tp-5", role="tabpanel")
						h2 Гамин
						p В переводе gamine означает девчонка, сорванец, маленькая шалунья, игривый ребёнок. Она принимает свою женственность, но не выставляет напоказ сексуальность. Моложаво выглядит на протяжении всей жизни. Никто и предположить не может, что девушке гамин уже под 40, она такая хрупкая, звонкая и задорная, что больше 25-ти лет ей никто не даёт.
						p В нарядах девушки гамин присутствует всегда некая «сорванцовость» и озорство. В ней полностью отсутствует вульгарность или вызов. Даже глубокое декольте не способно показать эту девушку в вызывающем свете. Она очаровательна, мила и совершенно не вульгарна. Клетка, полоска, цветы и монохром – самые любимые расцветки. 
		.task
			.container
				h3 Если тебе больше подходит традиционная классификация выбери свой психотип и напишите почему он тебе близок?	
				textarea(placeholder="Напиши сюда свой ответ", name="q2", data-title="Выбери свой психотип и напишите почему он тебе близок?	") {{q2.value}}
		.container
			h1 Cериал «Секс в большом городе»
			p Для того, чтобы увидеть как визуальный код и психотип работает, посмотри сериал «Секс в большом городе». Сезон 6 был выбран не случайно, как один из самых ярких, как по образам девушек, так и по их психологическому состоянию.
			.tabpanel
			ul.nav.nav-tabs(role="tablist")
				li.active(role="presentation")
					a(href="#v-0", aria-controls="profile", role="tab", data-toggle="tab") 8 сезон, эпизод 16
				li(role="presentation")
					a(href="#v-1", aria-controls="profile", role="tab", data-toggle="tab") Эпизод 17
				li(role="presentation")
					a(href="#v-2", aria-controls="profile", role="tab", data-toggle="tab") Эпизод 18
				li(role="presentation")
					a(href="#v-3", aria-controls="profile", role="tab", data-toggle="tab") Эпизод 19
				li(role="presentation")
					a(href="#v-4", aria-controls="profile", role="tab", data-toggle="tab") Эпизод 20
			.tab-content
				.tab-pane.active(id="v-0", role="tabpanel")
					//iframe(src="http://vk.com/video_ext.php?oid=18434&id=170566156&hash=1cbba3a385a4eab0&hd=1", height="360", frameborder="0")
					video(controls, preload="none", poster="/images/video.jpg")
						source(src="http://130931.selcdn.com/test/Sex.and.the.City.s06e16.m4v", type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
						| Тег video не поддерживается вашим браузером.
				.tab-pane(id="v-1", role="tabpanel")
					video(controls, preload="none", poster="/images/video.jpg")
						source(src="http://130931.selcdn.com/test/Sex.and.the.City.s06e17.m4v", type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
						| Тег video не поддерживается вашим браузером.
				.tab-pane(id="v-2", role="tabpanel")
					video(controls, preload="none", poster="/images/video.jpg")
						source(src="http://130931.selcdn.com/test/Sex.and.the.City.s06e18.m4v", type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
						| Тег video не поддерживается вашим браузером.
				.tab-pane(id="v-3", role="tabpanel")
					video(controls, preload="none", poster="/images/video.jpg")
						source(src="http://130931.selcdn.com/test/Sex.and.the.City.s06e19.m4v", type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
						| Тег video не поддерживается вашим браузером.
				.tab-pane(id="v-4", role="tabpanel")
					video(controls, preload="none", poster="/images/video.jpg")
						source(src="http://130931.selcdn.com/test/Sex.and.the.City.s06e20.m4v", type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
						| Тег video не поддерживается вашим браузером.
		.task
			.container
				h3 Определи психотип и визуальный код каждой и помни, что над ними поработали профессиональные стилисты.
				.row
					.col-xs-3
						img(src="/images/a1.jpg")
					.col-xs-9
						textarea(placeholder="Керри Бредшоу", name="q4", data-title="Психотип: Керри Бредшоу") {{q4.value}}
				.row
					.col-xs-9
						textarea(placeholder="Шарлотта Йорк", name="q5", data-title="Психотип: Шарлотта Йорк") {{q5.value}}
					.col-xs-3
						img(src="/images/a2.jpg")
				.row
					.col-xs-3
						img(src="/images/a3.jpg")
					.col-xs-9
						textarea(placeholder="Саманта Джонс", name="q6", data-title="Психотип: Саманта Джонс") {{q6.value}}
				.row
					.col-xs-9
						textarea(placeholder="Миранда Хоббс", name="q7", data-title="Психотип: Миранда Хоббс") {{q7.value}}
					.col-xs-3
						img(src="/images/a4.jpg")
			
