
template(name="Days2")
	.article(class="{{#if isInRole 'admin'}}admin{{/if}}")
		.task
			.container
				h1 Анализ собственного гардероба
				h3 Опиши подробно как ты разбираешь гардероб?
				textarea(placeholder="Напиши сюда свой ответ", name="q1", data-title="Опиши подробно как ты разбираешь гардероб?") {{q1.value}}
				h3 Есть ли какая-то периодичность разбора?
				textarea(placeholder="Например: сезонность, плохое настроение, плановая уборка квартиры, ситуативные состояния", name="q2", data-title="Есть ли какая-то периодичность разбора?") {{q2.value}}
				h3 Какая обстановка творится вокруг? 
				textarea(placeholder="Опиши её здесь", name="q3", data-title="Какая обстановка творится вокруг? ") {{q3.value}}
				h3 Какие эмоции ты испытываешь (эмоциональная шкала)?
				textarea(placeholder="Перечисли их в этом поле", name="q4", data-title="Какие эмоции ты испытываешь (эмоциональная шкала)? ") {{q4.value}}
		.article__text
			.container
				h1 Скелеты в шкафу
				| <iframe width="853" height="480" src="//www.youtube.com/embed/wo4hEY0uZL4?rel=0&amp;controls=2&amp;showinfo=0&amp;hd=1&amp;vq=hd1080" frameborder="0" allowfullscreen></iframe>
		.task
			.container
				h3 После того, как мы определили какие монстры живут в твоем платяном шкафу — заполни таблицу с теми вещами, которые ты решила выбросить, отдать или продать.
				
				table.table.table-bordered(name="t1", data-title="Скелеты в шкафу")
					thead 
						tr
							th(width="10%",  data-override="0") Вещь
							th(width="10%",  data-override="1") Монстр
							th(width="20%",  data-override="2") Причина
							th(width="20%",  data-override="3") Что это значит?
							th(width="20%",  data-override="4") Что дальше?

					tbody

						if t1.value
							each t1.value
								tr
									each this
										td(contenteditable="true") {{nl2br this}}
						else
							tr
								td(contenteditable="true") Юбка красная
								td(contenteditable="true") Накопитель	
								td(contenteditable="true") Маленький размер и я ее отложила на тот момент, когда похудею	
								td(contenteditable="true") Скорректировать питание	
								td(contenteditable="true") Продать (в отличном состоянии и носилась мало)
							tr
								td(contenteditable="true") Кофта с золотыми пуговицами (принадлежала бабушки)	
								td(contenteditable="true") Винтаж	
								td(contenteditable="true") Вышла из строя 	
								td(contenteditable="true") Продумать систему хранения и ухода за любимыми вещами	
								td(contenteditable="true") Выбросить (починить не получится)
							tr
								td(contenteditable="true") Джинсы 	
								td(contenteditable="true") Нехочуха	
								td(contenteditable="true") Слишком много других пар - эти не самые любимые	
								td(contenteditable="true") Начать менять стиль в одежде и спокойно отдавать повторяющиеся вещи	
								td(contenteditable="true") Отдать (не самое хорошее состояние, но вещь практичная)
							tr
								td(contenteditable="true")
								td(contenteditable="true")
								td(contenteditable="true")
								td(contenteditable="true")
								td(contenteditable="true")
				h3 Как заполнить таблицу?
				p Нажми на одну из колонок и впиши свою вещь вместо рабочего примера.
				.features-list
					.row
						.col-xs-3
							strong Вещь
						.col-xs-9
							| В этот столбец нужно вписать предмет одежды (брюки, юбка и т.д.), от которого ты избавилась.
					.row
						.col-xs-3
							strong Монстр
						.col-xs-9
							| Определи какой монстр завладел этой вещью. Если не можешь определить точно, просто перейди к следующему столбику «Причина».
					.row
						.col-xs-3
							strong Причина
						.col-xs-9
							| Впиши какая причина послужила основной для того, чтобы эта вещь была удалена из твоего гардероба.
					.row
						.col-xs-3
							strong Что это значит?
						.col-xs-9
							| Ответь себе честно на вопрос «что действительно скрывает эта вещь»? 
					.row
						.col-xs-3
							strong Что дальше?
						.col-xs-9
							| Напиши, как ты решила поступить с этой вещью: продать, отдать или выбросить.
		.article__text
			.container
				h1 Раскладка гардероба и таблица
				p Итак, ты избавилась от барахла и вещей, которые тебе не нужны. Теперь приступай к работе с оставшимися вещами по следующей схеме: 
				h2 1. Дата
				p Определи время (утро/день/вечер) и день. 
				h2 2. Локация
				p Определи место для раскладки всех вещей (большая кровать/диван/пол гостиной/квартира подруги)
		
				h2 3. Вытряхивание
				p Достаем <strong>ВСЮ</strong> одежду из шкафов, стеллажей, коробок и шкатулок. Отложи в сторону обувь, аксессуары, нижнее белье.
			
				h2 4. Категоризация
				p Разложи стопки с одеждой и присвой следующие названия:
				table.table.table-bordered.big
					tbody
						tr.center
							td Люблю / Ношу
							td Не люблю / Ношу
						tr.center
							td Люблю / Не ношу
							td Не Люблю / Не ношу
				.row
					.col-xs-6
						h3 Люблю / Ношу
						p Такие вещи должны продолжать существовать в гардеробе, но требует жесткого анализа на износ и дефекты. 
						p Если вещь вышла из строя, можно заменить ее такой же или похожей по силуэту, цвету.
					.col-xs-6
						h3 Не люблю / Ношу
						p Повторная зачистка барахла. Такие вещи требуют немедленного исключения из гардероба. 
						p Они влияют на настроение и деформируют общее восприятие. Поступи с ними также, как они с тобой. 

				.row
					.col-xs-6
						h3 Люблю / Не ношу
						p Задание на определение зоны развития. Определи, почему эта вещь не была использована в твоих комплектах ранее.
						p Что в этой вещи нравится и что смущает? Связаны ли с ней какие-то события? Что они значат. Если вещь действительно тебе дорога, начинай формировать личный винтаж. 
					.col-xs-6
						h3 Не люблю / Не ношу
						p Вещи из этой категории также должны быть просмотрены на наличие дефектов. В случае, если вещи не имеют явного износа и не требуют починки отдай их на благотворительность или продай. 
						p Если по каким-то причинам ты не можешь это сделать тогда четко сформулируй причину для того, чтобы их оставить. Не можешь? Выбрасывай/продавай/отдавай!
				h2 Зачистка.
				p С учетом каждой категории, просматриваем вещи и делаем выводы.  Это задание нужно выполнять честно. Избавляйся от вещей, которые износились или же не соответствуют цели, портят фигуру. Не нужно искать причины хранить барахло.
				h2 Тайное.
				p Проделай тоже самое с украшениями, аксессуарами, нижним бельем и обувью.
				h2 Винтаж.
				p Если по каким-то причинам избавиться от вещи тяжело - проанализируй, достойна ли она оказаться в категории «винтаж».
				h2 Бумажная кукла.
				p Наряжайся и комбинируй оставшуюся одежду, обувь и аксессуары.
				h2 Сокращай.
				p Смотри внимательно в зеркало. Если эта одежда не подходит по фасону, старит, цвет не идет - выбрасывай или отдавай.
				h2 Заполняй.
				p Впиши в таблицу все оставшиеся вещи. 
		.task
			.container.container--width
				h1 Таблица «Мой гардероб»
				p После того как все вещи были распределены по категориям, а от ненужных вещей мы избавились — самое время приступить к каталогизации собственного гардероба. 

				
				table.table.table-bordered(name="t2", data-title="Мой гардероб")
					thead 
						tr
							th(width="10%",  data-override="0") Название вещи
							th(width="10%",  data-override="1") Количество сочетаний
							th(width="10%",  data-override="2") Цвет/принт
							th(width="10%",  data-override="3") Задача
							th(width="10%",  data-override="4") Эффект цели
							th(width="10%",  data-override="5") Цена
							th(width="10%",  data-override="6") Эффект вещи

					tbody
						if t2.value
							each t2.value
								tr
									each this
										td(contenteditable="true") {{nl2br this}}
						else
							tr
								td(contenteditable="true") Юбка 1 Zara
								td(contenteditable="true") 3
								td(contenteditable="true") Темно-синяя
								td(contenteditable="true") Нужна в офис для дресс кода
								td(contenteditable="true") Очень обтягивает бедра
								td(contenteditable="true") 1 999 руб.
								td(contenteditable="true") Выглядит дешево
							tr
								td(contenteditable="true") Юбка 2 H&M
								td(contenteditable="true") 2
								td(contenteditable="true") Голубая/Деним
								td(contenteditable="true") Повседневная одежда. Отдых.
								td(contenteditable="true") Покупалась для отдыха
								td(contenteditable="true") 799 руб.
								td(contenteditable="true") Короткие ноги
							tr
								td(contenteditable="true") Блузка 1 Benetton
								td(contenteditable="true") 4
								td(contenteditable="true") Белая
								td(contenteditable="true") Офис. Повседневная одежда
								td(contenteditable="true") Отлично сидит
								td(contenteditable="true") 3 547 руб.
								td(contenteditable="true") Выглядит отлично
							tr
								td(contenteditable="true")
								td(contenteditable="true")
								td(contenteditable="true")
								td(contenteditable="true")
								td(contenteditable="true")
								td(contenteditable="true")
								td(contenteditable="true")

				h3 Как заполнить таблицу?
				p Нажми на одну из колонок и впиши свою вещь вместо рабочего примера.
				.features-list
					.row
						.col-xs-3.col-lg-2
							strong Название вещи
						.col-xs-9.col-lg-10
							| В этот столбец нужно вписать предмет одежды (брюки, юбка и т.д.), название бренда и присвоить порядковый номер.
					.row
						.col-xs-3.col-lg-2
							strong Количество сочетаний
						.col-xs-9.col-lg-10
							| В этот столбик нужно вписать количество возможных комплектов, которые можно создать с этим предметом гардероба.
					.row
						.col-xs-3.col-lg-2
							strong Цвета или принты
						.col-xs-9.col-lg-10
							| Впиши какой цвет или рисунок на ткани у описываемой вещи
					.row
						.col-xs-3.col-lg-2
							strong Задача.
						.col-xs-9.col-lg-10
							| Какую задачу должна выполнять эта вещь? Можно вписать как определенную категорию (дом, офис, повседневная одежда и т.д) или дать более развернутый ответ.

					.row
						.col-xs-3.col-lg-2
							strong Эффект цели
						.col-xs-9.col-lg-10
							| Выполняет ли одежда поставленную цель? Не противоречит ли одежда поставленной цели? Имеет ли какие-то достоинства и недостатки данная вещь?

					.row
						.col-xs-3.col-lg-2
							strong Цена
						.col-xs-9.col-lg-10
							| Впиши в этот столбик точную или приблизительную стоимость данной вещи.
					.row
						.col-xs-3.col-lg-2
							strong Эффект цели
						.col-xs-9.col-lg-10
							| Соответствует ли цена вещи производимому эффекту? Выглядит дороже, выглядит дешево и т.д.