template(name="Days2")
	.article(class="{{#if isInRole 'admin'}}admin{{/if}}")
		if isInRole 'admin'
			.task
				.container
					h1 Анализ собственного гардероба
					h3 Опиши подробно как ты разбираешь гардероб?
					textarea(placeholder="Напиши сюда свой ответ", name="q1", data-title="Опиши подробно как ты разбираешь гардероб?") {{q1.value}}
					h3 Есть ли какая-то периодичность разбора?
					textarea(placeholder="Например: сезонность, плохое настроение, плановая уборка квартиры, ситуативные состояния", name="q2", data-title="Есть ли какая-то периодичность разбора?") {{q2.value}}
					h3 Какая обстановка творится вокруг? 
					textarea(placeholder="Опиши её здесь", name="q3", data-title="Какая обстановка творится вокруг? ") {{q3.value}}
					h3 Какие эмоции ты испытываешь (эмоциональная шкала)?
					textarea(placeholder="Перечисли их в этом поле", name="q4", data-title="Какие эмоции ты испытываешь (эмоциональная шкала)? ") {{q4.value}}
			.container
				h1 Скелеты в шкафу
				| <iframe width="853" height="480" src="//www.youtube.com/embed/wo4hEY0uZL4?rel=0&amp;controls=2&amp;showinfo=0&amp;hd=1&amp;vq=hd1080" frameborder="0" allowfullscreen></iframe>
			.task
				.container
					h3 После того, как мы определили какие монстры живут в твоем платяном шкафу — заполни таблицу с теми вещами, которые ты решила выбросить, отдать или продать.
					table.table.table-bordered(name="t1", data-title="Скелеты в шкафу")
						thead 
							tr
								th(width="10%") Вещь
								th(width="10%") Монстр
								th(width="20%") Причина
								th(width="20%") Что это значит?
								th(width="20%") Что дальше?
						tbody
							tr(data-ignore="true")
								td(width="10%") Юбка красная
								td(width="10%") Накопитель	
								td(width="20%") Маленький размер и я ее отложила на тот момент, когда похудею	
								td(width="20%") Скорректировать питание	
								td(width="20%") Продать (в отличном состоянии и носилась мало)
							tr(data-ignore="true")
								td Кофта с золотыми пуговицами (принадлежала бабушки)	
								td Винтаж	
								td Вышла из строя 	
								td Продумать систему хранения и ухода за любимыми вещами	
								td Выбросить (починить не получится)
							tr(data-ignore="true")
								td Джинсы 	
								td Нехочуха	
								td Слишком много других пар - эти не самые любимые	
								td Начать менять стиль в одежде и спокойно отдавать повторяющиеся вещи	
								td Отдать (не самое хорошее состояние, но вещь практичная)
							tr
								td 
								td
								td
								td
								td
					h3 Как заполнить таблицу?
					p Нажми на одну из колонок и впиши свою вещь вместо рабочего примера.
					.features-list
						.row
							.col-xs-3
								strong Вещь
							.col-xs-9
								| В этот столбец нужно вписать предмет одежды (брюки, юбка и т.д.), от которого ты избавилась.
						.row
							.col-xs-3
								strong Монстр
							.col-xs-9
								| Определи какой монстр завладел этой вещью. Если не можешь определить точно, просто перейди к следующему столбику «Причина».
						.row
							.col-xs-3
								strong Причина
							.col-xs-9
								| Впиши какая причина послужила основной для того, чтобы эта вещь была удалена из твоего гардероба.
						.row
							.col-xs-3
								strong Что это значит?
							.col-xs-9
								| Ответь себе честно на вопрос «что действительно скрывает эта вещь»? 
						.row
							.col-xs-3
								strong Что дальше?
							.col-xs-9
								| Напиши, как ты решила поступить с этой вещью: продать, отдать или выбросить.
		else
			.container
				h1.center Данные заполняются