head
	title Школа «Стильно Модно Молодежно»
	link(href="http://fnt.webink.com/wfs/webink.css/?project=580C47D0-FAA1-48D1-B377-344FDC5DE5A3&amp;fonts=5D3863ED-56C0-05C2-6E9D-B78930F6FC51:f=CirceWeb-Regular,E2760A8D-7C6C-F53E-5395-BE9CDB1B4178:f=CirceWeb-Light,227F9941-44EA-CCB4-933C-BE44A0BEC7FA:f=CirceWeb-ExtraBold,A6D35641-6598-78D4-C742-D050FEFAC82C:f=CirceWeb-Bold", rel="stylesheet")
	link(href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic&subset=latin-ext', rel='stylesheet', type='text/css')
	script
		| UPLOADCARE_LOCALE = "ru";
		| UPLOADCARE_TABS = "file url instagram vk";
		| UPLOADCARE_AUTOSTORE = true;
		| UPLOADCARE_PUBLIC_KEY = "7b67497be850150c6e09";

body
	| <!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter26610894 = new Ya.Metrika({id:26610894, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/26610894" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
	+header
	.container

template(name="header")
	.toolbar
		.container
			if currentUser
				.row
					.col-xs-8.left
						a.toolbar__title(href="/") Стильно-Модно-Молодежно 
					.col-xs-4.right
						+loginButtons
			else
				a.toolbar__title(href="/") Стильно-Модно-Молодежно 

template(name="footer")
	.footer 
		span &copy;
		| 2014 Школа «Стильно-Модно-Молодежно»
