.p-1 {
  width: 73px;
  height: 75px;
}
.p-2 {
  width: 65px;
  height: 75px;
}
.p-3 {
  width: 78px;
  height: 72px;
}
.p-4 {
  width: 75px;
  height: 75px;
}
.p-5 {
  width: 65px;
  height: 72px;
}
.p-6 {
  width: 77px;
  height: 77px;
}
.p-7 {
  width: 77px;
  height: 73px;
}