template(name="Days3")
	.article(class="{{#if isInRole 'admin'}}admin hidden{{/if}}")
		.container
			h1 Работа с цветом
			.embed-responsive.embed-responsive-16by9
				| <iframe width="853" height="480" src="//www.youtube.com/embed/QY2jTJl9khg?rel=0&amp;controls=2&amp;showinfo=0&amp;hd=1&amp;vq=hd1080" frameborder="0" allowfullscreen></iframe>
			p 
				img(src="/images/colors.jpg")
			p <strong>Цветотип</strong> – это совокупность определенных признаков внешности человека, в зависимости от цвета глаз, волос и кожи. Исходя из этого этого можно подбирать наиболее подходящие цвета при выборе одежды или оттенков косметики. Существует 4 типа внешности: зима, весна, лето и осень.
			h3 Не смотря на то, что цветотипы это наиболее распространенная практика работы с цветом - она не самая эффективная и имеет массу ограничений:
			ol
				li Ограничение по 4 группам — этого не достаточно для того, чтобы точно определить какие цвета действительно подходят.
				li Иногда бывает сложно самостоятельно определить цветотип из-за этого подобная схема может быть только рабочим инструментом для профессионалов. 
				li Существуют смешанные цветотипы, которые не представлены в классической схеме: весна, лето, осень и зима.
				li Исключения. Все люди индивидуальны и в такой схеме есть множество исключений, которые не поддаются классификации. Такие исключения становятся индивидуальными цветовыми типами.
				li Цветотип, как стилеобразующую единица должен быть определен верно. Четко простроена система цвета, колора. В случаях когда цветотип не корректно применен можно говорить о том, что имидж не создан, а скорее разрушен. Это очень опасно. 
			p
				strong Чтобы использовать в своем гардеробе подобные цветовые схемы, стоит обращаться к стилистам. Практика цветотипов особенно популярна среди звезд, медийных персон и актеров, потому что цветовое ограничение (цветотип) выглядит очень ярко. 

			p
				strong Однако, для того чтобы не уступать звездам стоит всего лишь определить подтон своей кожи и выбрать подходящий оттенок - теплый или холодный. Именно на этом и строится цветотип изначально. Уже после он работает с другими маркерами и наслаивает определенные цвета.  

			h1 Определение подтона кожи
			h3 Если желание использовать ограничители цвета велико, самым простым способом это сделать станет домашний тест
			ol
				li Снять весь макияж, умыть лицо.
				li Волосы убрать под белое полотенце.
				li Выбрать две вещи или купить тканевые лоскуты для цветовой пробы. Лучше всего пойдет оранжевый цвет и серый. Оранжевый не содержит холодного оттенка и поможет определить относишься ли ты к теплому цветотипу, а серый к холодному.
				li При дневном и естественном освещении приложи сначала один лоскут, а затем второй.
				li Наблюдай за изменениями, которые происходят. Если цвет подходит — лицо станет ярче, появится румянец и проявится естественных поддон кожи.
				li После всех манипуляций смело открывай схему цветотипов и смотри какие цвета тебе подходят — теплые или холодные. Совершенно не важно яркие они или приглушенные.
		.task
			.container
				textarea(placeholder="Напиши результат теста", name="q1", data-title="Определение подтона кожи") {{q1.value}}
				h1 Цветовая структура гардероба
				h3 В какой цветовой гамме твой гардероб? Какие цвета доминируют?
				textarea(placeholder="Перечисли их в этом поле", name="q2", data-title="В какой цветовой гамме твой гардероб?") {{q2.value}}
				h3 Какие яркие цвета и принты присутствуют в гардеробе?
				textarea(placeholder="Перечисли их в этом поле", name="q3", data-title="Какие яркие цвета и принты присутствуют в гардеробе?") {{q3.value}}
				h3 Какие цвета не нравятся или кажется, что они не идут?
				textarea(placeholder="Перечисли их в этом поле", name="q4", data-title="Какие цвета не нравятся или кажется, что они не идут?") {{q4.value}}
				h3 Составь собственную цветовую раскладку. 
				textarea(placeholder="Для этого напиши какие цвета в твоем гардеробе преобладают больше, а какие меньше. Например: базовые цвета - 70%, принты - 20%, а акценты и яркие ткани - 10%", name="q5", data-title="Составь собственную цветовую раскладку") {{q5.value}}
		.article__text
			.container
				h1 Цветовые схемы
				p Чтобы тебе было удобнее и понятнее обращаться с цветовым кругом и использовать его в формировании образов — используй сайт <a href="http://www.paletton.com" target="_blank">www.paletton.com</a>. Выбирай цвет и смотри, какие с ним можно создать интересные сочетания.
				.row.center.circles
					.col-xs-4
						div.circle__frame
							img(src="/images/s1.png")
							canvas(class="circle" width="400" height="400")
							h3 Нюансное
					.col-xs-4
						div.circle__frame
							img(src="/images/s2.png")
							canvas(class="circle" width="400" height="400")
							h3 Контрастное
					.col-xs-4
						div.circle__frame
							img(src="/images/s3.png" data-dz-remove)
							canvas(class="circle" width="400" height="400")
							h3 Акцентное
				h2 Работа в рамках цветового круга
				p 
					strong Нюансное сочетание.
					| Построено на системе цвета. Это еле уловимые переходы одного и того же цвета. В цветовом круге для создания нюансного сочетания необходимо выбирать основной цвет и комплиментарный ему дополнительный цвет, который находится рядом.
				p
					strong Контрастное сочетание.
					| Также построено на цветовом круге. Это резко выраженная цветовая противоположность. Для создания образ с использованием контраста, необходимо выбрать основной цвет и комлиментарный ему дополнительный цвет, который находится в цветовом круге напротив.
				h2 Самостоятельные решения
				p
					strong Акцентное сочетание.
					| Не использует цветовую  схему координат напрямую. Акцент - это намеренное выделение, которое может использовать цвет или принт. Акцент также может быть сформирован фактурными решениями или геометрией, а также аксессуарами, обувью или сумкой. 
		.task
			.container.center
				h2 Загрузи в рабочую тетрадь три цветовых комплекта. 
				p Используй вещи из своего гардероба по максимуму. 
				.row
					.col-xs-4
						h4
							strong Акцент
						input(type="hidden" data-max-size="3145728" data-title="Акцент" role="uploadcare-uploader" data-images-only="true" value="{{$check i1.value}}" name="i1").image
					.col-xs-4
						h4
							strong Нюанс
						input(type="hidden" data-max-size="3145728" data-title="Нюанс" role="uploadcare-uploader" data-images-only="true" value="{{$check i2.value}}" name="i2").image
					.col-xs-4
						h4
							strong Контраст
						input(type="hidden" data-max-size="3145728" data-title="Контраст" role="uploadcare-uploader" data-images-only="true" value="{{$check i3.value}}" name="i3").image
		.article__text
			.container
				h1 Цветовая азбука
				p Каждый цвет имеет свои особенности. Цвета, окружающие нас, посылают нам множество сообщений, но всегда ли мы умеем правильно понять их? Пополнив свои знания о цвете, научившись умело с ним общаться, ты сможешь выглядеть привлекательнее, а также используешь силу цвета для того, чтобы стать более энергичной и подберешь необходимый колор, для того чтобы соответствовать обстановке.
				p Используй это цветовую шпаргалку ежедневно, для того чтобы управлять цветом и получать от этого пользу и удовольствие.
				.tabpanel
					ul.nav.nav-tabs(role="tablist").colors
						li.active(role="presentation")
							a(href="#c-1", aria-controls="profile", role="tab", data-toggle="tab") Белый
						li(role="presentation")
							a(href="#c-2", aria-controls="profile", role="tab", data-toggle="tab", style="background-color:#7F8685;color:white") Серый
						li(role="presentation")
							a(href="#c-3", aria-controls="profile", role="tab", data-toggle="tab", style="background-color:#000;color:white") Черный
						li(role="presentation")
							a(href="#c-4", aria-controls="profile", role="tab", data-toggle="tab", style="background-color:#F01739;color:white") Красный
						li(role="presentation")
							a(href="#c-5", aria-controls="profile", role="tab", data-toggle="tab", style="background-color:#E07B9D;color:white") Розовый
						li(role="presentation")
							a(href="#c-6", aria-controls="profile", role="tab", data-toggle="tab", style="background-color:#FF7600;color:white") Оранжевый
						li(role="presentation")
							a(href="#c-7", aria-controls="profile", role="tab", data-toggle="tab", style="background-color:#FFC700;color:black") Желтый
						li(role="presentation")
							a(href="#c-8", aria-controls="profile", role="tab", data-toggle="tab", style="background-color:#4F8F1F;color:white") Зеленый
						li(role="presentation")
							a(href="#c-9", aria-controls="profile", role="tab", data-toggle="tab", style="background-color:#123C52;color:white") Синий
						li(role="presentation")
							a(href="#c-10", aria-controls="profile", role="tab", data-toggle="tab", style="background-color:#4A1C50;color:white") Фиолетовый

					.tab-content
						.tab-pane.active(id="c-1", role="tabpanel")
							h2 Белый

							p 
								strong Позитивные ассоциации:
								| чистота, невинность, добродетелей, обновление.
							p 
								strong Негативные ассоциации:
								| отстраненность, стерильность, бесчувственность.

							strong Используй его: 
							ul
								li чтобы выглядеть свежо;
								li если необходимо создать контраст;
								li на отдыхе.
							strong Исключи:
							ul
								li если не хочешь привлекать внимание;
								li если нет желания контролировать насколько аккуратно ты выглядишь;
								li может визуально добавлять объемы.

						.tab-pane(id="c-2", role="tabpanel")
							h2 Серый 


							p 
								strong Позитивные ассоциации:
								| спокойствие, нейтралитет и элегантность.
							p 
								strong Негативные ассоциации:
								| пассивность, скрытость, неуверенность.

							strong Используй его:
							ul
								li в бизнес-процессах, на деловых переговорах;
								li одевай на собеседования.
							
							strong Не используй:
							ul
								li на праздничных мероприятиях, в творческой среде и при работе с детьми;
								li если необходимо быть в центре внимания;
								li когда у тебя нестабильное эмоциональное состояние. 

						.tab-pane(id="c-3", role="tabpanel")
							h2 Черный


							p 
								strong Позитивные ассоциации:
								| власть, официальность, богатство и сила.
							p 
								strong Негативные ассоциации:
								| траур, агрессия, депрессия и аскетичность.

							strong Используй его: 
							ul
								li чтобы создать контраст;
								li выглядеть серьезно и элегантно;
								li в качестве вечерней одежды;
								li для публичных выступлений.
							strong Не используй: 
							ul
								li на праздничных мероприятиях (особенно детских);
								li в летний сезон;
								li если не хочешь казаться закрытой и замкнутой.

						.tab-pane(id="c-4", role="tabpanel")
							h2 Красный 
							p 
								strong Позитивные ассоциации:
								| страсть, любовь, агрессия, сексуальность, оптимизм и внимание.
							p 
								strong Негативные ассоциации:
								| агрессия, жестокость, раздражение, беспокойство тревога.

							strong Используй его:
							ul
								li если необходимо обратить на себя внимание;
								li если нужно отстоять свою идею;
								li чтобы выглядеть сексуально;
								li чтобы создать динамичный образ.
							strong Не используй:
							ul
								li если находишься в стрессе;
								li если не хочешь привлекать внимание;
								li если хочешь избежать споров и конфликтов;
								li если предстоит работать в команде.

						.tab-pane(id="c-5", role="tabpanel")
							h2 Розовый 


							p 
								strong Позитивные ассоциации:
								| чувственность, женственность, игривость, дружелюбие.
							p 
								strong Негативные ассоциации:
								| инфантильность, легкомыслие, неуверенность в себе, склонность к иллюзиям.

							strong Используй его:
							ul
								li если хочешь создать девичий и воздушный образ;
								li на первом свидании;
								li при работе с детьми;
								li если испытываешь нервозность или стресс.
							strong Не используй:
							ul
								li на деловых переговорах;
								li когда нужно отстаивать свою идею;
								li если необходимо создать серьезный имидж.

						.tab-pane(id="c-6", role="tabpanel")
							h2 Оранжевый


							p 
								strong Позитивные ассоциации:
								| энергия, молодость, радость, общение и активность.
							p 
								strong Негативные ассоциации:
								| навязчивый и нахальный.

							strong Используй его:
							ul
								li для повседневной жизни, отдыха и спорта;
								li для привлечения внимания и поднятия настроения;
								li для энергичного и молодежного стиля.
							strong Не используй:
							ul
								li если нужна спокойная атмосфера;
								li в консервативной среде;
								li если хочешь выглядеть привлекательно и сексуально.

						.tab-pane(id="c-7", role="tabpanel")
							h2 Желтый 

							p 
								strong Позитивные ассоциации:
								| счастье, радость, оптимизм, лучезарность, дружелюбие, творчество.
							p 
								strong Негативные ассоциации:
								| эгоизм, непостоянство, легкомыслие, нестабильность.

							strong Используй его:
							ul
								li для занятий спортом и активного отдыха;
								li для привлечения внимания;
								li для установки позитивного контакта и чтобы тебя запомнили.
							strong Исключи:
							ul
								li при нервном состоянии;
								li на деловых переговорах.

						.tab-pane(id="c-8", role="tabpanel")
							h2 Зеленый 
							p 
								strong Позитивные ассоциации:
								| изобилие, гармония, естественность и юность.
							p 
								strong Негативные ассоциации:
								| зажатость, отстраненность и напряженность.

							strong Используй его: 
							ul
								li если нужно создать атмосферу спокойствия;
								li на публичных выступлениях.
							strong Исключи:
							ul
								li если нужно проявить лидерские качества и быть убедительной. 

						.tab-pane(id="c-9", role="tabpanel")
							h2 Синий 


							p 
								strong Позитивные ассоциации:
								| чистота, духовность, организованность и строгость.
							p 
								strong Негативные ассоциации:
								| пассивность холод и отстраненность.

							strong Используй его:
							ul
								li если нужно выглядеть серьезно и элегантно;
								li если предстоит участвовать в конфликтуй ситуации.
							strong Не используй:
							ul
								li если есть задача создать наивный образ;
								li когда нужно создать уютный и домашний образ.

						.tab-pane(id="c-10", role="tabpanel")
							h2 Фиолетовый


							p 
								strong Позитивные ассоциации:
								| королевский, аристократичный, элегантный, роскошный, творческий, мистический и креативный.
							p 
								strong Негативные ассоциации:
								| высокомерный, печальный и сверхъестественный.

							strong Используй его: 
							ul
								li в творческой среде;
								li как альтернатива черному в вечерней одежде;
								li когда нужно выглядеть торжественно.
							strong Не используй:
							ul
								li при устройстве на работу;
								li при переутомлении;
								li на первом свидании.