template(name="Days4")
	.article(class="{{#if isInRole 'admin'}}admin hidden{{/if}}")
		.container
			h1 Методы формирования гардероба
			.embed-responsive.embed-responsive-16by9
				| <iframe width="853" height="480" src="//www.youtube.com/embed/kGCT6fES1R8?rel=0&amp;controls=2&amp;showinfo=0&amp;hd=1&amp;vq=hd1080" frameborder="0" allowfullscreen></iframe>
		.container
			h1.center Схема формирования капсулы
			p <br>
				img(src="/images/s1.jpg")
				| <br>
			.row
				.col-xs-6
					h3 1. Пальто, плащ или шуба играют главную роль. 
					p Выбирай все самое лучшее, проверяй качество ткани и фурнитуры. Не экономь за стилеобразующей единицы. Главное, чтобы она подходила по типу фигуры и соответствовала стилю всей капсулы. 
					
					h3 2. Базовое платье максимально простого покроя и простого цвета.
					p Лучше всего чтобы это был однотонный вариант. Такое платье может быть хорошим партнером кардигану, рубашке и жакету, что позволит создать хорошую комбинаторику.

					h3 3. Жакет.
					p Стоит подбирать его к брюкам, джинсам или юбке, чтобы они были в одной стилистике.

					h3 4. Юбка составляет базовый гардероб любой девушки.
					p Выбирай разные варианты и следи, чтобы они подходили по цвету и стилю к остальным составляющим капсулы.

					h3 5. Брюки.
					p Подбираются исключительно по длине ног, а также обязательно смотри на посадку на бедрах и высоту талии.
				.col-xs-6
					h3 6. Джинсы. 
					p Лучше всего выбрать два цвета. Светлые (белые или голубые) для теплых сезонов и темные (черные, серые и чернильные) для холодных. Избегай сильных потертостей и вареного эффекта — это сильно влияет на геометрию. 

					h3 7 - 7.4. Блузки, трикотажные майки, футболки и топы.
					p Должны быть в изобилии. Главное, хорошо сочетать их по цвету с остальными вещами. Для этого используй цветовые схемы.

					h3 3 и 5. Костюм. 
					p Не стоит останавливать выбор только на классическом варианте, хотя он несомненно, хорошо вписывается в капсулу. Поэтому используй яркие цвета или интересные фасоны. Кроме того, костюм можно заменить на юбка+жакет(3 и 4), платье+жакет (3 и 8).
					
					h3 3 и 6. Жакет и джинсы.
					p Не бойся экспериментировать и миксовать разные стили. Смело носи жакеты с джинсами и вставай на каблук.

					h3 9-10. Нарядный минимум. 
					p Определи в своем гардеробе подходящий вариант для выхода.
			h1.center Схема формирования комплекта
			p <br>
				img(src="/images/s2.jpg")
				| <br>
			.row
				.col-xs-6
					h3 1. Пальто.
					p Как и в капсульном гардеробе верхняя одежда должна быть подобрана под комплект. Только в этом случае имеет значение ее фасон, цвет, длина и общий силуэт.
					h3 1.1. Платье.
					p Полностью самостоятельный комплект созданный на основе платья. Все остальные вещи будут строиться с учетом того, какое платье.
				.col-xs-6
					h3 1.2. Брюки.
					p Самостоятельный комплект на основе брюк. Дополняем комплиментарным верхом в одной стилистике. Очень четко подбираем обувь под длину брючин.
					h3 1.3. Юбка.
					p Самостоятельный комплект со стилеобразующей единицей в виде юбки. Требует комплиментарный верх в виде топа, рубашки, футболки. Может быть дополнен жакетом, кардиганом или свитером. Следим за аксессуарами. 
					
		.task
			.container
				h3 Какую схему формирования гардероба ты выбрала и почему?
				textarea(placeholder="Перечисли их в этом поле", name="q1", data-title="Какую схему формирования гардероба ты выбрала и почему?") {{q1.value}}