.day
	&__title
		full-width()
		margin-top -20px
		min-height 200px
		margin-bottom 30px
		position relative
		b('bg.jpg', center -80px, gray, cover)
		&-text
			vcenter()
			z-index 30
			color white
			text-align: center
		&-big
			font-size 55px
			line-height 52px
			margin-bottom 10px
			font-family 'CirceWeb-Bold'
	&__frame
		position absolute
		top 0
		left 0
		width 100%
		min-height 100%
		opacity .8
	&__result
		full-width()
		.container
			max-width 600px !important
		background alpha(#d9d762, .2)
		padding 40px 0 30px
		h1
			full-width()
			margin-top 0
			margin-bottom 30px !important
		.row+.row
			margin-top 30px
		&-name
			full-width()
			height 30px
			line-height 30px
			font-family 'CirceWeb-Light'
			font-size 13px
			margin-bottom 20px
			text-align: right
		&-image
			float right
			width 30px
			height 30px
			margin-left 15px
			
			background-size cover
			background-position center center
			border-radius 100px
	&__content
		background white
		p
			margin-bottom 20px
		iframe
			margin 20px 0
		h1
			margin-bottom 20px
		h2
			margin-top 30px
			font-size 29px
		h3
			margin-bottom 20px
		video
			width 100%
			height 642px
		.table
			&.big
				width 100%
				td
					vertical-align: middle	
					border 1px solid #dddddd
					width 20%
					height 150px
					padding 0 20px
					font-family 'CirceWeb-Light'
					font-size 25px
					line-height 25px
					text-align: center
		.nav-tabs
			li
				font-size 16px
				&:not(.active)
					a
						color blue
		.tab-pane
			padding 30px 0
			h2
				margin-top 0
				margin-bottom 20px
			.row+.row
				margin-top 10px
	.container
		max-width 883px
		&--width
			max-width 1160px
		img
			max-width 100%
		& + .task
			padding-top 40px
			margin-top 20px
	.task
		full-width()
		background gray
		padding 20px 0 40px
		margin -10px 0 40px
		.row+.row
			margin-top 20px
		h3
			margin-top 0
			margin-bottom 20px
		textarea + h3
			margin-top 30px
		
		textarea
			display block
			width 100%
			border 0
			resize none
			box-shadow: inset -2px -2px 0 0 rgba(0,0,0,.07);
			padding 20px
			min-height 200px
			&:focus
				outline 0
		textarea.editor
			min-height 0
			box-shadow none
			border 0 !important
			box-shadow: 2px 2px 0 0 rgba(0,0,0,.07);
		
		.table
			margin-top 45px
			margin-bottom 45px
			font-family 'CirceWeb-Regular'
			th
				font-size 17px
			td, th
				font-size 14px
				padding 10px 15px
				height 40px
				&:focus
					outline none
			td
				line-height 18px
				&:focus
					background white
					box-shadow: inset 2px 2px 0 0 rgba(0,0,0,.07);

.features-list
	padding 25px 0
	.row + .row
		margin-top 20px

.article
	&__text
		padding 50px 0
		full-width()
		background white
		& + .task
			padding-top 40px
			margin-top 20px
	&.admin
		.task
			display block
			
	&:not(.hidden) + .article-trigger
		margin-top 0

.article-trigger
	full-width()
	line-height 45px
	height 45px
	background alpha(blue,.5)
	color white
	font-size 12px
	font-family 'CirceWeb-Regular'
	text-transform: uppercase
	letter-spacing 2px
	text-align: center
	margin-top -30px
	.h
		display none
	span
		position relative
		z-index 2
	&:hover
		text-decoration: none
		span
			color white
			text-decoration: none
			border-line(alpha(white,.5))

.admin-area
	full-width()
	background white
	padding 40px 0

.answer
	full-width()
	h3
		font-family 'CirceWeb-Bold'
		margin-bottom 10px
	p
		opacity .8
		margin-bottom 10px
	.answer__item + .answer__item
		margin-top 20px
		padding-top 20px
		border-top 1px solid rgba(0, 0, 0, .08)
	.table
		@extend .day .task .table
	&__field
		full-width()
		background gray
		margin-top 40px
		padding 40px
		padding-bottom 25px
		textarea
			@extend .day .task textarea
			full-width()
		table + textarea
			min-height none
		input
			float: right
			border 0
			background blue
			color white
			margin-top 20px
			padding 0 20px
			font-size 12px
			font-family 'CirceWeb-Regular'
			line-height 43px
			text-transform: uppercase
			height 45px
			box-shadow: 2px 2px 0 0 rgba(0,0,0,.07);
			position relative
			letter-spacing 2px
			t(all)
			&:hover
				top -2px
				left -2px
				box-shadow: 4px 4px 0 0 rgba(0,0,0,.12);
			&:active
				opacity .8
				top 0px
				left 0px
				box-shadow: 2px 2px 0 0 rgba(0,0,0,.12);