.toolbar
	full-width()
	background rgba(255,255,255,.9)
	height 45px
	line-height 45px
	font-size 17px
	color blue
	box-shadow: 2px 2px 0 0 rgba(0,0,0,.07);
	position fixed
	z-index 400
	top 0
	left 0
	font-family 'CirceWeb-ExtraBold'
	text-align: center
	&__title
		color blue
		&:hover
			text-decoration none
			color blue
			border-line(alpha(blue,.3))
	#login-buttons
		font-size 15px
		font-family 'CirceWeb-Regular'
		position relative
		a, .login-button
			display inline
			color blue
			cursor pointer
			&:hover
				text-decoration none
				color blue
				border-line(alpha(blue,.3))
		#login-dropdown-list
			background white
			position absolute
			right 0
			top 100%
			box-shadow: 2px 2px 0 0 rgba(0,0,0,.07);
			min-width 100px
			padding 5px 20px
			text-align: center
			line-height 25px
			font-size 13px
	@media print
		display none